<!DOCTYPE html>
<html>
<head>
  <title>MarsRoverRubyOnRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<div class="logo"></span></div>
							<center><h2>Mars Rover By <a href="adityashukla74.herokuapp.com">Aditya Shukla</a> </h2>
							<p> We Land, We Roll, We Explore our Neighbour</p></center>
						</div>
					</section>
<%= yield %>

</body>
</html>
